<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
  <div class="row">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li class="active">
        <a href="/map">Map</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div cl
  </div>
  <header class="header">
    <ul class="nav nav-pills pull-right">
      <li class="active">
        <a href="#">Home</a>
      </li>
      <li class="active">
        <a href="/map">Map</a>
      </li>
    </ul>
    <h1 class="container">La Maline</h1>
  </header>
  <div class="jumbotron">
    <h1>
      Vote pour t'informer
    </h1>
    <img src="images/app-logo.png">
  </div>
</div>

<div class="footer">
  <p>© HackArdennes</p>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
