<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap 101 Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>s
<body>
<div class="default-page">
  <header class="header">
    <h1 id="main-title" class="container">La Maline</h1>
  </header>
  <section class="main container-logo">
    <img src="images/app-logo">
  </section>

  <section class="home-loader">
    <h3>
      Vote pour t'informer
    </h3>
    <!--<img src="loader">-->
  </section>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
