<!-- Default home page -->



<div class="page">

	<div class="header" >
<div class="figure"></div>
	    <figure></figure>	
	</div>

  <div class="corp">

	
	<div style="height:100vh;">
	
		<div style="height:10vh; margin:5vh; text-align:center;"></div>
		<div style="height:40vh; margin:5vh; text-align:center">
			<div  style="padding:1%" >
				<h2>Consultez la carte 
				<br><br> <i class="fa fa-arrow-circle-down fa-3x" aria-hidden="true"></i>
</h2>
			</div>
			</div>

	</div>
	

	<div style="background-color: #eee;
border: 1px solid #ccc;
height: 90vh;
margin: 3%;">
	
		<div style=" text-align:center;">
			<p>Google Map</p>
			<p>ou Liste déroulantes</p>
			<p>&nbsp;</p>
			<p><a href="/stand">Lien stand</a></p>
		</div>


	</div>
   
  </div>
  
  <div class="pied" style="background-color: #fc0;
bottom: 0;
padding:10px;
position: fixed;
text-align: center;
font-size: 0.8em;
width: 100%;"><i class="fa fa-user-circle-o" aria-hidden="true"></i>
 Votre score <strong>347</strong> votes - Niveau : <strong>Débutant</strong> </div>
</div>
